<main class="main-container no-padding-top" role="main">
    <section>
      <div class="container">
        <br>
        <h2 class="h1 text-center">Completá tus datos</h2>
        <br>
        <form class="col-md-8 col-md-offset-2" actio="#">
          <br>

          <div class="form-group">
            <label for="Nombre">Nombre y apellido</label>
            <div class="row">
              <div class="col-xs-6"><input class="form-control input-lg" type="text" placeholder="Nombre" id="Nombre" required=""></div>
              <div class="col-xs-6"><input class="form-control input-lg" type="text" placeholder="Apellido" id="Apellido" required=""></div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="Correo">Correo electrónico</label>
            <input class="form-control input-lg" type="text" placeholder="Correo electrónico" id="Correo">
          </div>
          <br>

          <div class="form-group">
            <label for="Aclaraciones">Aclaraciones</label>
            <textarea class="form-control input-lg" rows="3" placeholder="Aclaraciones" id="Aclaraciones"></textarea>
          </div>
          <br>
          <br>
          <p class="text-center">
            <button class="btn btn-primary btn-lg" href="#">Enviar</button>
          </p>
        </form>
      </div>
    </section>

</main>
