      <!-- CONTENIDO -->
      <main class="main-container no-padding-top" role="main">
        <div class="container">
          <div class="row">
  
            <div class="col-md-8 col-md-push-4">
              <br>
              <section class="list-group list-group-content">
                <h1>{{data.title}}</h1>
                
                <div>
                    {{data.content}}
                </div>

              </section>
              <br>
              <hr class="visible-xs visible-sm">
            </div>
  
            <aside class="col-md-4 col-md-pull-8">
              <div class="row">
                <br>
                <div class="col-md-11">
                 
                    <img  class="portada" src="{{previewImg || 'assets/no-image.png' }}" />
                    
                </div>
              </div>
            </aside>
  
  
          </div>
        </div>
      </main>
      <!-- FIN DE CONTENIDO -->
  