
<header class="navbar navbar-primary navbar-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
          <a class="navbar-brand bac-header" href="/"></a>
          <h2 class="sub-logo"><img src="assets/logo14__b_w.png" /></h2>
        </div>
        <div class="col-md-6 col-sm-6 text-right oculto vertical-align">
          <a  class="btn btn-primary btn-siu" role="button" href="https://guarani-autogestionagencia.bue.edu.ar/acceso/">Ingresa SIU Guarani</a>
          <h5 class="sub-brand"><img src="assets/bastrap3/bac-header-2.png"/></h5>
          <!--<h5 class="sub-brand">Vamos Buenos Aires</h5>-->
        </div>
    </div>
  </div>
</header>


<!-- NAVEGACIÓN PRINCIPAL -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Cambiar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" title="Gobierno Electrónico">IFTS 14: Robotica y Energia</a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Inicio</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Carreras <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngFor="let item of careers" ><a [routerLink]="['/carreras/' +  item.name.toLowerCase() ]">{{item.name}}</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/requisitos']" >Requisitos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Institucional <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngFor="let item of sections" ><a [routerLink]="['/institucional/' +  item.name.toLowerCase() ]">{{item.name}}</a></li>
            </ul>
          </li>
          <!--<li><a href="#">Documentos</a></li>-->
          <!--<li><a href="/carreras">Galeria</a></li>-->
          <li><a href="/contacto">Contacto</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>¡Hola, Buenos Aires!</h1>
        <p>Esta es la página básica para usar en el desarrollo de sitios del Gobierno de la Ciudad de Buenos Aires.</p>
        <p>Recordá poner tu contenido dentro de una columna (.col-md-12), dentro de una fila (.row), dentro de un contenedor (.container).</p>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </div> -->



    <!-- NAVEGACIÓN PRINCIPAL -->
    <!-- <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Cambiar navegación</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" title="Gobierno Electrónico">Gestión Digital</a>
          </div>
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="base.html">Inicio</a></li>
              <li class="active"><a href="base_landing.html">Landing</a></li>
              <li><a href="base_panel.html">Panel</a></li>
              <li><a href="base_curso.html">Curso</a></li>
              <li><a href="base_formularios.html">Formularios</a></li>
              <li><a href="base_tablas.html">Tablas</a></li>
              <li><a href="base_tabs.html">Tabs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav> -->
    <!-- FIN DE NAVEGACIÓN PRINCIPAL -->

 

  

  

<!-- FIN DE CONTENIDO -->

<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a class="navbar-brand bac-footer" href="http://www.buenosaires.gob.ar" target="_blank">Buenos Aires Ciudad</a>
          <a href="{{ facebookLink }}"><img class="social" src="/assets/fb.webp"></a>
          <a href="{{ xLink }}"><img  class="social" src="/assets/x.webp"></a>
        </div>
        

        <div class="col-md-6 col-sm-6">
          <div class="sub-brand">
            <p>Dirección General de Gestión Digital<br />
            <span class="text-muted">Ministerio de Modernización</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>