      <!-- CONTENIDO -->
      <main class="main-container no-padding-top" role="main">
        <div class="container">
          <div class="row">
  
            <div class="col-md-8 col-md-push-4">
              <br>
              <section class="list-group list-group-content">
                <h2>Novedades IFTS 14</h2>
                <div class="row row-list-pagina">
                  <div class="col-md-12 col-sm-12">
                    <a href="#" *ngFor="let item of list" class="list-group-item list-thumb" data-original-title="" title="">
                      <div style="background-image:url(https://ifts14.com.ar/imagenes/foto_Novedades2.jpg);"></div>
                      <h4>{{item.title}}</h4>
                      <p>{{item.content}}</p>
                    </a>
                  </div>
                </div>
                <br>
                <button class="btn btn-default btn-lg btn-block">Ver todas las notas</button>
              </section>
              <br>
              <hr class="visible-xs visible-sm">
            </div>
  
            <aside class="col-md-4 col-md-pull-8">
              <div class="row">
                <h3>Institucional</h3>

                <div class="col-md-11">
                  <br>
                  
                  <ul class="nav nav-stacked nav-pills">
                    <li class=" active"><a href="#"><span class="glyphicon glyphicon-book"></span>  Novedades</a> </li>
                    <li> <a href="#"><span class="glyphicon glyphicon-book"></span>  Becas</a> </li>
                    <li> <a href="#"><span class="glyphicon glyphicon-book"></span>  Articulacion</a> </li>
                  </ul>
                </div>
              </div>
            </aside>
  
  
          </div>
        </div>
      </main>
      <!-- FIN DE CONTENIDO -->
  