<!-- FIN DE NAVEGACIÓN PRINCIPAL -->
<div class="jumbotron jumbotron-misc jumbotron-main" style="background-image: url(https://images.pexels.com/photos/1708988/pexels-photo-1708988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">

    <!-- CONTENIDO -->
    <main class="main-container" role="main">
        
    <div class="container">
        <h1>Inscribite al futuro</h1>
        <p>Carreras Terciarias Oficiales:<br/> Técnico Superior en Eficiencia Energética y Técnico Superior en Automatización y Robótica</p> 
        <p><a class="btn btn-primary btn-xl" role="button" href="#">Informate</a></p>
    </div>

</main>
</div>



