/* You can add global styles to this file, and also import other style files */
.navbar-primary {
    /*border-bottom: 0px;*/
    border-top: 6px #fdd306 solid;
    box-shadow: 1px 1px 5px #e0e0e0;
}

.navbar-top .sub-logo {
   
    img {
        height: 50px;
        margin-bottom: 5px;
    
    }
  }

.bac-header {
    width: 100px;
}
